<p-messages severity="error" *ngIf="isRequestFailed">
    <ng-template pTemplate>
        <div class="p-ml-2">Falha ao carregar os dados, tente novamente.</div>
    </ng-template>
</p-messages>


<button [disabled]="isRequestOnProgress"  (click)="loadCoins()" class="button__request">
    {{ isRequestOnProgress ? 'Em Andamento' : 'Buscar Dados'  }}
    <i *ngIf="isRequestOnProgress" class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>   
</button>


<p-table [value]="coins">
  <ng-template pTemplate="header">
      <tr>
          <th>ID</th>
          <th>Simbolo</th>
          <th *ngIf="!isSmallDevice">Nome</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-coin>
      <tr>
          <td>{{coin.id}}</td>
          <td>{{coin.symbol}}</td>
          <td *ngIf="!isSmallDevice">{{coin.name}}</td>
      </tr>
  </ng-template>
</p-table>