.menu__container {
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  padding: 1em;
  margin: 0 0 1em 0;
}

.menu__container li {
  list-style: none;
}

.menu__link {
  text-decoration: none;
  color: black;
  font-size: .9rem;
  transition: all 0.6s;
}

.menu__link:hover {
  opacity: .8;
}